python-dotenv==1.0.1
xmltodict==0.13.0 
crewai==0.5.0
langchain==0.1.0
langchain-community==0.0.20 
langchain-core==0.1.23
langchainhub==0.1.14 
google-search-results==2.4.2 
duckduckgo-search==4.4.3 
semanticscholar==0.7.0 
langchain-openai
gradio
